@font-face {
  font-family: 'NetflixIcons'; /* tên bạn tự đặt */
  src: url('https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix') format('embedded-opentype'),
       url('https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff') format('woff'),
       url('https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf') format('truetype'),
       url('https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: black;
}
.nav_bar{
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 48px 0 48px;
    box-sizing: border-box;
}
.title{
    display: flex;
    margin-right: 25px;
    color: red;
    cursor: pointer;
    font-family: 'NetflixIcons';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.menu_bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.menu_bar p a{
    text-decoration: none;
    color: white;
}
.function_bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 4%;
    gap: 15px;
}
.function_bar img{
    filter: invert(1);
    width: 24px;
    height: 24px;
}
.dropdown img{
    width: 15px;
    height: 10px;
    filter: invert(1);
}
.sub_navbar{
    color: white;
    display: flex;
    padding: 0 48px 0 48px;
    align-items: center;
}
.Series{
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    margin-right: 15px;
}
.genres_box{
    width: 111px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: white 1px solid;
    box-sizing: border-box;
    margin: 0 30px 0 30px;
}
.genres_box img{
    width: 15px;
    height: 10px;
    filter: invert(1);
}
.change_style_button{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1;
}
.change_style_button button{
    align-items: center;
    background: rgba(0, 0, 0, .7);
    border: 1px solid #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 44px;
}
.change_style_button img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.trailer{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.trailer video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.5);
}
.trailer_info{
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 50px;
    left: 50px;
    max-width: 30%;
}
.trailer_info p{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
}
.trailer_buttons{
    display: flex;
    gap: 15px;
}
.trailer_info button{
    width: 110px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trailer_info button img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.info_button{
    background-color: rgba(109, 109, 110, 0.7) !important;
    color: white !important;
    width: 130px !important;
}
.info_button img{
    filter: invert(1);
}
.list_movie{
    color: white;
    margin: 20px 48px 0 0px;
    width: 100%;
    height: 188px;
}
.list_movie h2{
    font-weight: 500;
    margin-left: 48px;
}
.slider {
    position: relative;
    width: 100%;
    height: 128px;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
}

.slides {
    display: flex; 
    gap: 10px;
    transition: transform 0.5s ease;
}
.slides img{
    height: 150px;
}
.slide {
    flex: 0 0 230px;
    height: 150px;
    background-color: #333;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s;
}
.arrow {
    position: absolute;
    font-size: 45px;
    transform: translateY(-50%);
    top: 50%;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    user-select: none;
    z-index: 10;
}
.arrow:hover {
    background: rgba(0,0,0,0.6);
}

.left { left: 10px; }
.right { right: 10px; }

.footer {
    background-color: #141414;
    padding: 60px 15%;
    color: #777;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 28px;
    cursor: pointer;
    filter: brightness(0) invert(0.8);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 16px;
    color: #aaa;
    cursor: pointer;
}

.footer-links ul li:hover {
    text-decoration: underline;
}

copyright {
    color: #777;
}
